{{ ansible_managed | comment }}

storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  port: {{ mongodb_port }}
  bindIp: {{ mongodb_interfaces }}
  
{% if mongodb_replication_set is defined -%}
replication:
  replSetName: "{{mongodb_replication_set}}"
{%- endif %}